services:
  postgres:
    image: postgres:17-alpine
    container_name: inventory-management-postgres
    ports:
      - 5432:${DATABASES_PORT}
    environment:
      POSTGRES_USER: ${DATABASES_USER}
      POSTGRES_DB: ${DATABASES_NAME}
      POSTGRES_PASSWORD: ${DATABASES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
